
<!-- <img src="http://40.media.tumblr.com/tumblr_lqusuqkP2o1qzun8oo1_1280.jpg" class="img responsive">

<div class="ui page grid">
  <div class="column">
    <div class="ui text menu right floated">
      <% if user_signed_in? %>
        <i class="item">
          <a href="#about">About</a>
        </i>
        <i class="item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </i>
      <% else %>
        <i class="item">
          <a href="#about">About</a>
        </i>
        <i class="item">
          <%= link_to "Log In", new_user_session_path %>
        </i>
        <i class="item">
          <%= link_to "Sign Up", new_user_registration_path %>
        </i>
      <% end %>
    </div>

    <div class="header"> Wayfarer </div>

    <div class="ui vertical rectangle test ad"></div>

  </div>
</div>

<div class="ui inverted vertical segment">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui inverted header">
          <a name="about">
            How to Play
          </a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <div class="ui inverted animated selection list">
          <div class="item">
            Create an account by clicking on "Sign Up"
          </div>
          <div class="item">
            Click "play" to be transported to a Google Street View somewhere in the world
          </div>
          <div class="item">
            You have 30 seconds to walk around and figure out where you are
          </div>
          <div class="item">
            When time is up, a map will appear. Drop a pin where you think you are!
          </div>
          <div class="item">
            Click "Guess" to see where you are on the map!
          </div>
          <div class="item">
            Play again!
          </div>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui teal inverted animated button huge button">
          <div class="visible content">Let's Play!</div>
          <div class="hidden content"><%= link_to "Let's Play!", new_game_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment"></div>

<div class="ui inverted footer vertical segment">
  <div class="ui stackable center aligned page grid">
    <div class="row">
      <div class="column">
        <h2>
          Take a trip around the world with Google Maps!
        </h2>
      </div>
    </div>
  </div>
</div> -->
