<h1>High Scores</h1>

<!-- have scores of each level the user has played. score + city -->

<!-- need to add city!!! -->


<table class="ui table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Score</th>
      <th>Top Score on this level???</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td>level</td>
      <td><%= game.score %></td>
      <td>score</td>
    </tr>
    <% end %>
  </tbody>
</table>
