<h1 style="text-align: center">Your Scores</h1>

<!-- sort lowest to highest, limit one city per user -->

<table class="ui inverted table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @games.each do |game| %>
      <td><%= game.location.city %></td>
      <td><%= game.score %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<h1>Top Scores</h1>
<table class="ui inverted table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Level</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @locations.each do |game| %>
      <!-- <td><%#= game.user.username %> </td> -->
      <td><%= game.city %></td>
      <!-- <td><%#= game.games.users.username %></td> -->
      <td><%=  %></td>
    </tr>
      <% end %>
  </tbody>
</table>
