// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****WELCOME/EXTERNAL****/
/***********************/
img {
  position: fixed;
  padding-top: 10px;
}

.ui.footer {
  background: black;
  min-height: 100px;
  margin-top: -10px;
}

.ui.footer img {
  position: absolute;
  bottom: 35px;
  right: 65px;
  width: 125px;
}

.header {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 100;
  font-size: 80px;
  color: white;
  padding: 30px;
}

.ui.text.menu {
  padding-top: 20px;
}

.ui.text.menu .item {
  color: white;
  font-size: 15px;
}

.ui.menu .text.item > *, .ui.menu .item > a:not(.ui), .ui.menu .item > p:only-child {
  color: white;
}


a {
  color: white;
}

a:hover {
  color: white;
}


.ui.inverted.vertical.segment {
  opacity: 0.9;
  padding-bottom: 40px;
}

.ui.inverted.vertical.segment .item {
  font-size: 16px;
  padding: 5px;
}

.ui.vertical.rectangle.test.ad {
  height: 550px;
}


.ui.teal.animated.button.huge.button {
  margin-top: 30px;
  text-align: center;
}

#play .header {
  padding: 10px;
  text-align: center;
}

#play .item.play {
  color: black;
  font-weight: bold;
  padding: 15px;
}

body {
  background: white;
  max-width: 1280px;
  margin: 0 auto;
}

.flash-messages {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.login {
  padding-top: 75px;
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 300px;
}

/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}
